<div class="animated fadeIn">
  <div class="row">
    <!--/.col-->
    <div class="col-sm-10">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Category List
          <span
            *ngIf="loadingTable"
            class="pull-right spinner-border spinner-border-sm mr-1"
          ></span>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th></th>
                <th>Detail</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of categories">
                <td>
                  <strong>{{ item.name }}</strong>
                </td>
                <td>
                  <strong>{{ item.Category.name }}</strong>
                </td>
                <td>
                  <img
                    style="height: 60px; width:100px"
                    class="img-thumbnail"
                    src="{{ item.path ? item.path : 'assets/img/cart.png' }}"
                  />
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-pill btn-sm btn-primary"
                    data-toggle="modal"
                    (click)="editButtonClick(item.id)"
                  >
                    Details
                  </button>
                </td>
                <td>
                  <button
                    (click)="openModal(delete, item.id)"
                    class="btn btn-pill btn-sm btn-danger"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--/.row-->
</div>
<ng-template #delete>
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Delete <strong>{{ category[0].name }}</strong
          >?
        </h4>
      </div>
      <div class="modal-body text-center">
        <p>
          Are you sure you want to delete
          <strong>{{ category[0].name }}</strong
          >?
        </p>

        <img
          style="width:80px; height:80px"
          class="img-thumbnail"
          src="{{ category[0].path }}"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="decline()">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="confirm(category[0].id)"
        >
          <span
            *ngIf="loadingDelete"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Yes Delete
        </button>
      </div>
    </div>
  </div>
</ng-template>
